.root {
  max-width: 70rem;
  padding: 2rem 1rem;
  margin-inline: auto;
}

.section1,
.section2,
.section3,
.section4,
.section6,
.section7 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.heroContainer1,
.heroContainer2,
.section3Container1,
.section3Container2,
.section4Container1,
.section4Container2,
.section6Container1,
.section6Container2 {
  flex: 1;
}

.heroContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContainer1 > h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
  font-size: 4rem;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
  text-transform: capitalize;
}

.heroContainer1 > h2 span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.heroContainer1 > p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  -webkit-line-clamp: 2;
  z-index: 1;
  margin-top: 1rem;
  width: 100%;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  text-transform: capitalize;
}

.heroContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer2 > img {
  width: 20rem;
  margin-left: 9rem;
  border-radius: 25px;
  box-shadow: 20px 0px 300px #c0c0c082;
}

.section2 {
  margin-block: 5rem;
  padding-inline: 1rem;
  justify-content: space-between;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.statsContainer h3 {
  font-size: 2.5rem;
}

.statsContainer p {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.section3Container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3Container1 > img {
  width: 20rem;
  margin-right: 9rem;
  border-radius: 25px;
  box-shadow: 20px 0px 300px #c0c0c082;
}

.section3Container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3Container2 > h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
  font-size: 4rem;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
  text-transform: capitalize;
}

.section3Container2 > h2 span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.section3Container2 > p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  -webkit-line-clamp: 2;
  z-index: 1;
  margin-top: 1rem;
  width: 100%;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  text-transform: capitalize;
}

.section4Container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section4Container1 > h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
  font-size: 4rem;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
  text-transform: capitalize;
}

.section4Container1 > h2 span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.section4Container1 > p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  -webkit-line-clamp: 2;
  z-index: 1;
  margin-top: 1rem;
  width: 100%;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  text-transform: capitalize;
}

.section4Container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4Container2 > img {
  width: 20rem;
  margin-left: 9rem;
  border-radius: 25px;
  box-shadow: 20px 0px 300px #c0c0c082;
}

.section5{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block: 3rem;
}

.section5Container1 > h3{
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  -webkit-line-clamp: 2;
  z-index: 1;
  font-size: 2.75rem;
  width: 100%;
  text-align: left;
  word-break: break-word;
  text-transform: capitalize;
}

.section5Container2{
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.reviewContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}

.reviewContainer:hover{
  background: linear-gradient( 144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61% );
  border-radius: 26px;
}

.reviewContainer > p:first-child{
  font-size: 10rem;
  height: 6rem;
  font-style: italic;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.reviewContainer > p:nth-child(2){
  font-size: 1.2rem;
  line-height: 1.5;
}

.reviewerContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reviewerContainer > img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.reviewerProfileDetails > p:first-child{
  font-weight: 600;
  font-size: 1.2rem;
}

.reviewerProfileDetails > p:last-child{
  opacity: 0.6;
}

.section6Container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6Container1 > img {
  width: 20rem;
  margin-right: 9rem;
  border-radius: 25px;
  box-shadow: 20px 0px 300px #c0c0c082;
}

.section6Container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section6Container2 > h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
  font-size: 4rem;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
  text-transform: capitalize;
}

.section6Container2 > h2 span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.section6Container2 > p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  -webkit-line-clamp: 2;
  z-index: 1;
  margin-top: 1rem;
  width: 100%;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  text-transform: capitalize;
}

.section7{
  margin-block: 3rem;
}

.section7Container1{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 4rem;
  background: linear-gradient( 144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61% );
  border-radius: 26px;
}

.section7SubContainer1{
  display: flex;
  flex-direction: column;
}

.section7SubContainer1 > h3{
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.75;
  font-size: 2.5rem;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 100%;
  word-break: break-word;
  text-transform: capitalize;
}

.section7SubContainer1 > p{
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.75;
  -webkit-line-clamp: 2;
  z-index: 1;
  width: 70%;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  text-transform: capitalize;
}

.section7Container1 > button{
  --tw-text-opacity: 1;
  color: rgb(0 4 15 / var(--tw-text-opacity));
  padding: 1.25rem 2rem;
  border: none;
  border-radius: 10px;
  height: fit-content;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #e6cba9, #e9d2b6, #ecd9c2, #efe1cf, #f2e8dc, #f2e8dc, #f2e8dc, #f2e8dc);
}