.root {
  max-width: 100%;
}

.mainContainer {
  max-width: 70rem;
  margin: 1rem auto;
}

.headingContainer,
.headingQualitiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
}

.headingContainer > h1,
.headingQualitiesContainer > h1 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.headingContainer > h1 span,
.headingQualitiesContainer > h1 span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.headingContainer > p,
.headingQualitiesContainer > p {
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  -webkit-line-clamp: 2;
  z-index: 1;
  color: rgba(255, 255, 255, 0.75);
  font-size: small;
  word-break: break-word;
}

.servicesMainContainer,
.qualtiesMainContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1rem;
  margin-block: 3rem;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.75rem;
  width: clamp(20rem, 30vw, 30rem);
  padding: 2rem 1.5rem;
  border-radius: 16px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.serviceContainer,
.qualtiyContainer {
  opacity: 0;
  transform: translateY(150px);
  animation: slideUp 1s forwards;
  animation-timeline: view();
  animation-range-start: cover 10%;
  animation-range-end: cover 50%;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.serviceContainer:hover,
.qualtiyContainer:hover {
  transform: translateY(-10px);
}

.serviceContainer > h2 {
  font-size: 1.5rem;
  color: white;
}

.serviceContainer > p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
  text-align: left;
  -webkit-line-clamp: 2;
  z-index: 1;
  color: rgba(255, 255, 255, 0.75);
  font-size: medium;
  word-break: break-word;
}

.techNameContainer {
  display: flex;
  gap: 0.75rem;
}

.techNameContainer > p {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  z-index: 1;
  color: rgba(255, 255, 255, 0.75);
  font-size: medium;
  word-break: break-word;
}

.techIconContainer {
  display: flex;
}

.techIconContainer > img {
  aspect-ratio: 3/2;
  width: 45px;
  object-fit: contain;
}

.qualtiyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 16px;
  padding: 1.5rem;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.qualtiyContainer > h2 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.qualtiyContainer > img {
  aspect-ratio: 3/2;
  width: 55px;
  object-fit: contain;
}

@media only screen and (max-width: 681px) {
  .headingContainer > h1,
  .headingQualitiesContainer > h1 {
    line-height: 1.25;
    margin-bottom: 1rem;
  }
  .headingContainer > p,
  .headingQualitiesContainer > p {
    padding-inline: 0.5rem;
  }
}
