.root {
  width: 100%;
  padding: 2rem 1rem;
}

.root > h1, .root > p{
    text-align: center;
    color: white;
}

.root > h1{
    font-size: 2.5rem;
}

.root > h1 span{
  color: transparent;
  background-image: linear-gradient(
    to right,
    #e6cba9,
    #e9d2b6,
    #ecd9c2,
    #efe1cf,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #f2e8dc,
    #efe1cf,
    #ecd9c2,
    #e9d2b6,
    #e6cba9
  );
  background-clip: text;
}

.root > p{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    z-index: 1;
    color: rgba(255,255,255,0.75);
    font-size: small;
    word-break: break-word;
}

.mainContainer {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  margin-block: 1rem;
}

.teamMemberDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  background: black;
  border-radius: 16px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.teamMemberDetails > img {
  width: clamp(14rem, 21vw, 18rem);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-size: large;
  word-break: break-word;
  text-transform: capitalize;
}

.designation {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    z-index: 1;
    color: rgba(255,255,255,0.75);
    font-size: small;
    word-break: break-word;
    text-transform: capitalize;
  }

  .teamMemberDetails > hr{
    color: white;
    width: 100%;
    margin-top: 1rem;
  }

  .socialIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .socialIconContainer > a >img{
    width: 20px;
    height: 20px;
  }


  @media only screen and (max-width: 626px){
    .mainContainer{
        justify-content: center;
    }
  }